
.wrap-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:40px 15px;
  position: relative;
  margin: 0 20px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap:40px 20px;
    margin: 0;
  }
}

.swiper-product {
  .swiper {
    padding: 0 20px 22px;
  }
  .swiper .swiper-pagination {
    top: auto;
    bottom: 0;
    width: calc(100% - 40px);
    height: 2px;
    margin: 0 20px;
    background: rgba(0,0,0,0.2);
  }
  .swiper .swiper-pagination-progressbar-fill {
    background: rgba(0,0,0,1);
  }
}

.item-product {
  .box-badge {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    text-align: center;

    .best {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $point-koreanair;
      // background-image: url('#{$image-url}');
      color: $primary-color2;
      font-size: 1.2rem;
    }
    .sale {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $point-koreanair;
      // background-image: url('#{$image-url}');
      color: $primary-color2;
      font-size: 1.2rem;
    }
  }

  .box-image {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    @include desktop {
      border-radius: 15px;
    }
    .box-thumb {
      position: relative;
      width: 100%;
      padding:28px 0;
      background-color: transparent;
      @include desktop {
        padding:55px 0;
      }
      .thumb {
        position: relative;
        width: 96%;
        margin: 0 auto;
        &:after {
          display: block;
          padding-bottom: 96%;
          content: '';
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .back-blind {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color1;
        mix-blend-mode: darken;
      }
    }

    .box-hover {
      overflow: hidden;
      width: 0;
      height: 0;
      opacity: 0;
      @include desktop {
        &.active {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
      .default {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
      }
      .age-limit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(256,256,256,0.3);
        backdrop-filter: blur(5px);
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60%;
          padding-bottom: 60%;
          border: 10px solid red;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          content: '';
        }
        .age {
          font-size: 7.5rem;
          line-height: 1;
        }
      }
      .fn-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 74%;
        height: calc(100% - 10% - 44px);
        margin: 10% auto 0;
        .btn {
          color: $primary-color2;
          font-size: 1.5rem;
          font-weight: 700;
          vertical-align: top;
          i {
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto 20px;
            border-radius: 50%;
            background-color: rgba(256,256,256, 0.67);
            background-size: 40px 40px;
            background-position: center;
            background-repeat: no-repeat;
          }
          &:hover i {
            background-color: rgba(256,256,256, 1)
          }
          span {
            display: block;
          }
        }
        .wish i {
          background-image: url('#{$icon-url}wish.png');
        }
        .gift i {
          background-image: url('#{$icon-url}gift.png');
        }
        .cart i {
          background-image: url('#{$icon-url}cart-in.png');
        }
        .direct i {
          background-image: url('#{$icon-url}direct-order.png');
        }

        &.other .wish {
          width: 100%;
        }
      }
      .fix-btn {
        height: 44px;
        margin-top: auto;
        text-align: center;
        .btn {
          padding: 5px;
          font-size: 2rem;
        }
      }

      .stock {
        .fn-btn {
          justify-content: center;
          align-items: center;
          .btn {
            padding: 5px;
            border-color: $font-color2;
            background-color: $font-color2;
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .box-info {
    margin-top: 10px;
    .brand {
      margin-bottom: 5px;
      color: $font-color2;
      font-size: 1.1rem;
      @include desktop {
        font-size: 1.5rem;
      }
    }
    .name {
      margin-bottom: 15px;
      @include line-clamp(1);
      font-size: 1.5rem;
      font-weight: 700;
      @include desktop {
        font-size: 2rem;
      }
    }
  }

  .price-info {
    font-size: 1.1rem;
    @include desktop {
      font-size: 2rem;
    }
    .info {
      margin-bottom: 5px;
    }
    .origin {
      color: $font-color2;
    }
    .sale {
      padding-left: 5px;
      color: $font-color3;
      font-weight: 700;
    }
    .price {
      font-size: 1.5rem;
      @include desktop {
        font-size: 2.5rem;
      }

      &.kor {
        padding-left: 5px;
      }
    }
  }
}

.label-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.label {
  padding: 5px;
  border: 1px solid $line-color1;
  border-radius: 5px;
  color: $font-color2;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  overflow: visible; 
  padding: 0;
  border: none;
  border-radius: 0;
  background: inherit;
  box-shadow: none;
  cursor: pointer;

  &.wide {
    width: 100%;
  }

  &.radius {
    height: 44px;
    border: 1px solid $line-color1;
    border-radius: 10px;
    background-color: $primary-color2;
  }
}