
.about {
  background-color: aquamarine;
}

.wrap-banner {
  .box-banner {
    overflow: hidden;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      background: linear-gradient(180deg, rgba(0,0,0,0) 52%, rgba(0,0,0,1) 100%);
      content: '';
      @include desktop {
        opacity: 0.3;
        background: $primary-color1;
      }
    }
  }
}

.brand-detail {
  .intro {
    padding: 20px;
    border-bottom: 1px solid $line-color1;
    color: $font-color2;
    .title {
      margin-bottom: 10px;
      font-size: 2.4rem;
      line-height: 1.35;
    }

    @include desktop {
      display: flex;
      align-items: center;
      padding:20px 0;
      font-size: 2rem;
      .title {
        width: 238px;
        margin-bottom: 0;
        font-size: 5rem;
      }
      .context {
        width: calc(100% - 238px);
      }
    }
  }
}

.section {
  margin-top: 40px;
}

.guide-cont {
  padding: 20px 10px;
  background-color: $bg-color1;
}

.wrap-banner {
  @include desktop {
    overflow: hidden;
    border-radius: 15px;
  }
}

.roulette-wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 50px auto;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #000;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .canvas-box {
    overflow: hidden;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: 5px solid #000;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.2);
  }

  canvas {
    transition: 2s;
  }
  
  button {
    background: #febf00;
    margin-top: 1rem;
    padding: .8rem 1.8rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
  }
  
  button:active {
    background: #444;
    color: #f9f9f9;
  }
}

.zooms {
  .swiper-slide {
    
    transition: all .25s ease-out;
    //opacity: 1;
  }
  .swiper-slide img {
    max-width: 100%;
    transition: all .25s ease-out;
    transform: scale(0.9);
    transform-origin: top center;
  }
  
  .swiper-slide-active img {
    transform: scale(1);
  }
}