.action-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  padding: 8px 10px;
  border-top: 1px solid $line-color1;
  background-color: $primary-color2;
  ul {
    display: flex;
    li {
      width: 25%;
      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        position: relative;
        height: 48px;
        font-size: 11px;
        text-align: center;
      }
      .home {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-image: linear-gradient(to bottom, #5ba6d2, #267bad);
        transform: translate(-50%, -50%);
      }
    }
  }
}