@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$breakpoint-tablet})
    and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin max-width {
  max-width: $width-max;
  margin: 0 auto;
}

@mixin blind {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

//말줄임표 믹스인 ($row => 줄 수)
//ex. 2줄 말줄임 사용시 @include line-clamp(2)
@mixin line-clamp($row) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

@mixin icon-box($width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  }
  vertical-align: baseline;
  text-indent: -999em;
}

@mixin jinair-back {
  background-color: $point-jinair;
}

@mixin korean-back {
  background-color: $point-koreanair;
}