.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  }
  vertical-align: baseline;
  text-indent: -999em;

  &.medium {
    width: 30px;
    height: 30px;
  }

  &.small {
    width: 20px;
    height: 20px;
  }
  
  &.cs-w {
    background-image: url($icon-url + 'cs-w.png');
  }
  &.gift-w {
    background-image: url($icon-url + 'gift-w.png');
  }
  &.airplane-w {
    background-image: url($icon-url + 'airplane-w.png');
  }
  &.menu {
    background-image: url($icon-url + 'menu.png');
  }
  &.liquor {
    background-image: url($icon-url + 'liquor.png');
  }
  &.mypage {
    background-image: url($icon-url + 'mypage.png');
  }
  &.wish {
    background-image: url($icon-url + 'wish2.png');
  }
  &.back {
    background-image: url($icon-url + 'back.png');
  }
  &.search {
    background-image: url($icon-url + 'search.png');
  }
  &.cart {
    display: block;
    position: relative;
    background-image: url($icon-url + 'cart.png');

    .count {
      position: absolute;
      top: 0;
      right: -4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $font-color3;
      color: $primary-color2;
      font-size: 11px;
      line-height: 16px;
      text-indent: 0;
      text-align: center;
    }
  }
}