
.wrap-product {
  display: flex;
  flex-wrap: wrap;
  gap:40px 15px;
  position: relative;
  margin: 0 20px;
  .item {
    flex: 0 0 calc(50% - (15px/2));
  }

  @include tablet {
    .item {
      flex: 0 0 calc(33.333% - 10px);
    }
  }

  @include desktop {
    gap:40px 20px;
    margin: 0;
    .item {
      flex: 0 0 calc(25% - 15px);
    }
  }

  .box-badge {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    text-align: center;

    .best {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $point-koreanair;
      // background-image: url('#{$image-url}');
      color: $primary-color2;
      font-size: 1.2rem;
    }
    .sale {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $point-koreanair;
      // background-image: url('#{$image-url}');
      color: $primary-color2;
      font-size: 1.2rem;
    }
  }

  .box-image {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    @include desktop {
      border-radius: 15px;
    }
    .box-thumb {
      position: relative;
      width: 100%;
      padding:28px 0;
      background-color: transparent;
      @include desktop {
        padding:55px 0;
      }
      .thumb {
        position: relative;
        width: 90%;
        margin: 0 auto;
        &:after {
          display: block;
          padding-bottom: 90%;
          content: '';
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .back-blind {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color1;
        mix-blend-mode: darken;
      }
    }

    .box-hover {
      display: none;
      @include desktop {
        &.active {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
          backdrop-filter: blur(5px);
        }
      }

      .fn-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .box-info {
    margin-top: 10px;
    .brand {
      margin-bottom: 5px;
      color: $font-color2;
      font-size: 1.1rem;
      @include desktop {
        font-size: 1.5rem;
      }
    }
    .name {
      margin-bottom: 15px;
      @include line-clamp2;
      font-size: 1.5rem;
      font-weight: 700;
      @include desktop {
        font-size: 2rem;
      }
    }
  }

  .price-info {
    font-size: 1.1rem;
    @include desktop {
      font-size: 2rem;
    }
    .info {
      margin-bottom: 5px;
    }
    .origin {
      color: $font-color2;
    }
    .sale {
      padding-left: 5px;
      color: $font-color3;
      font-weight: 700;
    }
    .price {
      font-size: 1.5rem;
      @include desktop {
        font-size: 2.5rem;
      }

      &.kor {
        padding-left: 5px;
      }
    }
  }
}

.label-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.label {
  padding: 5px;
  border: 1px solid $line-color1;
  border-radius: 5px;
  color: $font-color2;
  font-size: 1.2rem;
}