@mixin mobile {
  @media (min-width: #{$breakpoint-mobile})
    and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet})
    and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}


@mixin tablet-desktop {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin max-width {
  max-width: $width-max;
  margin: 0 auto;
}

@mixin line-clamp1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@mixin line-clamp2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin jinair-back {
  background-color: $point-jinair;
}

@mixin korean-back {
  background-color: $point-koreanair;
}